.nav{
    background-color: white;
    position: fixed;
    top : 50px;
    left: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    border-radius: 5px;
}

.nav a{
    text-decoration: none;
    font-size: 15px;
    color: #2c2c2c;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}


.nav a:not(:last-child){
    margin-bottom: 20px;
}